<app-header-component></app-header-component>
<div class="container content">
  <button class="btn btn-info" (click)="auth.goBack()"><i class="fa fa-arrow-left"></i> Back</button>
  <h1 *ngIf="role == 'admin' || role=='superadmin'" class="page-title">Dashboard Admin: </h1>
  <!-- <button *ngIf="role=='admin' || role=='superadmin'" (click)="Create()" class="btn btn-success new-user"><i class="fa fa-plus"></i> Add payments</button> -->
  <!-- FORM STARTS  -->

  <label>Select Month</label>
  <div class="input-group date">
    <input type="text" name="start_date" [(ngModel)]="admin.selected_Month" class="form-control" bsDatepicker
      [bsConfig]="{dateInputFormat: 'YYYY-MM', containerClass: 'theme-blue',isAnimated: true }" (onShown)="onOpenCalendar($event)">
    <span class="input-group-addon">
      <i class="fa fa-calendar-o"></i>
    </span>
  </div>
  <div class="form-group">
    <label>Select Region</label>
    <!-- <ngx-select-dropdown [config]="config" [options]="regionList" [(ngModel)]="admin.region">
    </ngx-select-dropdown> -->
    <div class="angular2-multiselectCustom steps-list-cu">
      <angular2-multiselect [data]="regionList" [(ngModel)]="selectedregion" [settings]="Settings">
			</angular2-multiselect>
    </div>
    
  </div>
  <div class="form-group">
    <label>Real Counter Cash Total</label>
    <input name="realcountercashtotal" [(ngModel)]="admin.realcountercashtotal" type="text"
      class="form-control input-sm">
  </div>
  <div class="form-group">
    <label>Credit Card Payments total</label>
    <input name="realcountercashtotal" [(ngModel)]="admin.creditcardpaymentstotal" type="text"
      class="form-control input-sm">
  </div>
  <button (click)="Create()" class="btn btn-success">Save</button>
  <button (click)="exportAsXLSX()" class="download-btn down-su"><i class="fa fa-file-excel-o"
    style="font-size:48px;color:blue"></i>Download</button>
  <!-- FORM ENDS  -->

  <div class="table-responsive admin-vie-tab-cu">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Year/Month</th>
          <th>Region</th>
          <th>Real Counter Cash Total</th>
          <th>Credit Card Payments total</th>
          <th *ngIf="role=='admin' || role=='superadmin'"></th>
          <th *ngIf="role=='admin' || role=='superadmin'"></th>
        </tr>
      </thead>

      <tr>
        <td></td>
        <td><input [(ngModel)]="selected_Month" type="text" placeholder="Search" class="input-sm form-control"></td>
        <td><input [(ngModel)]="region" type="text" placeholder="Search" class="input-sm form-control"></td>
        <td><input [(ngModel)]="realcountercashtotal" type="text" placeholder="Search" class="input-sm form-control"></td>
        <td><input [(ngModel)]="creditcardpaymentstotal" type="text" placeholder="Search" class="input-sm form-control"></td>
        <td *ngIf="role=='admin' || role=='superadmin'"></td>
        <td *ngIf="role=='admin' || role=='superadmin'"></td>
      </tr>
      <tbody *ngFor="let data of adminData | dashboardSearch:selected_Month:region:realcountercashtotal:creditcardpaymentstotal ;let i=index;">
        <tr class="ng-scope">
          <td class="ng-binding">{{i+1}}</td>
          <td class="ng-binding">{{data.selected_Month}}</td>
          <td class="ng-binding">{{data.region}}</td>
          <td class="ng-binding">{{data.realcountercashtotal}}</td>
          <td class="ng-binding">{{data.creditcardpaymentstotal}}</td>
          <td *ngIf="role=='admin' || role=='superadmin'">
            <a (click)="delete(data.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"
                aria-hidden="true"></i></a>
          </td>
          <td *ngIf="role=='admin' || role=='superadmin'">
              <a (click)="edit(data.id)" class="btn btn-warnimg btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer-component></app-footer-component>