<app-header-component></app-header-component>
<div class="container">
  <form (ngSubmit)="login()" class="well">
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <div class="input-group"><span class="input-group-addon">@</span>
        <input id="inputUsername" type="text" placeholder="Username" name="username"  [(ngModel)]="user.username" disabled class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password (8+ bytes)</label>
      <input id="inputPassword" type="Password" placeholder="Password" name="password" [(ngModel)]="user.password" required class="form-control">
    </div>
    <div class="form-group">
      <label for="inputPassword2">Confirm Password</label>
      <input id="inputPassword2" type="Password" placeholder="ConfirmPassword" name="password2"  [(ngModel)]="user.password2" required class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" [ngClass]="{'disabled': user.password != user.password2 || user.password.length &lt; 8}" class="btn btn-success"><i  class="fa fa-check"></i> <i class="fa fa-spinner fa-pulse"></i>  Go</button>
    </div>
  </form>
</div>